@import 'src/styles.scss';

.Canvas {
	max-width: 1440px;
	height: 200px;
	position: absolute;
	z-index: -10;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.CanvasOverlay {
	max-width: 1440px;
	height: 200px;
	position: absolute;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background: linear-gradient(
		90deg,
		#222831ff 0%,
		#22283100 10%,
		#22283100 90%,
		#222831ff 100%
	);
}

.TopBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
	font-family: 'Poppins', sans-serif;

	@include atBreakpoint(tablet) {
		flex-direction: row;
		justify-content: space-between;
		max-width: $max-width;
		margin: auto;
		padding: 40px 20px;
		height: 15vh;
	}

	.avatar {
		width: 150px;
		height: auto;
		border-radius: 50%;
		border: 2px solid $red;
		box-shadow: 0px 2px 8px 0px $shadow;
	}
	.line {
		text-align: center;
		margin: 8px 0px;
		color: $white;

		@include atBreakpoint(tablet) {
			text-align: right;
		}

		&.name {
			font-size: 25px;
			text-shadow: 0px 2px 5px $shadow;
		}
		&.title {
			font-size: 17px;
		}
		&.email {
			font-size: 15px;
			color: $grey;
		}
	}
}
