@import 'src/styles.scss';

.AboutMe {
	.indent {
		.lit {
			color: #33b661;
		}
	}
	.links {
		display: flex;
		justify-content: space-evenly;
		margin: 30px 0px;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.linkLogoContainer {
			width: 50px;
			margin: auto;
			margin-bottom: 3px;
			img {
				filter: invert(100%);
			}
		}
		.linkLabel {
			color: #0098ff;
			font-size: 14px;
		}
	}
}
