@import 'src/styles.scss';

.Section.Projects {
	.flex {
		display: flex;
		flex-wrap: wrap;

		.indent {
			margin-bottom: 20px;

			@include atBreakpoint(tablet) {
				flex-basis: 44%;
			}

			h2 {
				margin: 5px 0px;
			}
		}
	}
}
