@import 'src/styles.scss';

@include atBreakpoint(tablet) {
    html, body {
        overflow: hidden;
    }
}
@include atBreakpoint(tablet) {
    body {
        height: 100vh;
    }
}

.container {
    display: flex;
    max-width: $max-width;
    margin: auto;
}
