@import 'src/styles.scss';

.ScrollTarget {
    padding-bottom: 50px;
    
    @include atBreakpoint(tablet) {
        padding-bottom: 100px;
        
        &.lastSection {
            padding-bottom: 500px;
        }
    }
}